@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
header {
  max-width: 1920px;
  width: 100%;
  max-height: 62px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 10px 0px #00000014;
}
.logo-text {
  height: 62px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-left: 30px;
  margin-top: 0;
  text-decoration: none;
  text-align: center;
}
.logo {
  width: 90px;
  height: auto;
}
h3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 33.41px;
  text-align: left;
  color: #1d1d1d;
  margin-left: 10px;
}
.REC-PPA {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 500;
}
.REC {
  width: 92px;
  border: 1px solid #dedede;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 48px;
  color: #363636;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  vertical-align: middle;
  font-weight: 500;
}
.PPA {
  border: 1px solid #dedede;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 13px;
  width: 92px;
  height: 48px;
  display: flex;
  font-weight: 500;
  flex-direction: column;
  justify-content: center;
}
.AVG {
  display: flex;
  justify-content: space-evenly;
  color: #3069b3;
  font-weight: 500;
  align-items: center;
}
.price-1 {
  font-size: 16px;
  color: #3069b3;
  font-weight: 700;
}
.price {
  font-size: 16px;
  color: #119891;
  font-weight: 700;
}

.weather-user-section {
  display: flex;

  gap: 20px; /* Space between weather and user info */
  padding: 10px 20px;
  margin-left: 30px;
}

.weather {
  display: flex;
  gap: 17px;
  font-size: 14px;
  align-items: center;
  background: #f4f4f4;
  max-width: 493px;
  max-height: 50px;
  padding: 6px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
}
.location-weather {
  background: white;
  max-width: 211px;
  max-height: 36px;
  font-size: 13px;
  border-radius: 10px;
  align-items: center;
  font-family: Pretendard;
  display: flex;
  font-weight: 600;
  padding: 4px 10px 4px 10px;
}
.Gradus {
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.64px;
  text-align: left;
}
.user-info {
  display: flex;
  gap: 10px; /* Space between notification, username, and dropdown */
  font-size: 14px;
  align-items: center;
}

.user-info span {
  cursor: pointer;
}

.notif {
  background-color: #2ec9d6;
  border-radius: 100%;
  width: 24px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: white;
}

.account {
  width: 18px;
  height: 18px;
}

.bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.09px;
  text-align: left;
}
